#header{
    display: flex;
    text-decoration: none;
    margin: 0;
    background-color: rgb(37, 100, 236);
    border-radius: 1rem;
}
#v {
    display: flex;
    flex-direction:row;
    margin: 4px;
    background-color: rgb(96, 139, 229); 
    border-radius: 1rem;
    min-width: 500px;
}
#v img{
    border-radius: 1rem;
    background-color: lightgray;
    height: auto;
    width: 90px;
    padding: 4px;
    text-decoration: none;
    display: flex;
    list-style: none;
}
#v ul{
    gap: 12px;
    text-decoration: none;
    display: flex;
    list-style: none;
}
#v a{
    gap: 1rem;
    text-decoration: none;
    display: flex;
    color: white;
}